Source: osf-web
Section: web
Priority: optional
Maintainer: Peter Eisentraut <peter.eisentraut@credativ.de>
Build-Depends-Indep: debhelper (>= 4.1.16), cdbs (>= 0.4.0)
Standards-Version: 3.6.1.1

Package: osf-web
Architecture: all
Depends: apache-ssl (>= 1.3.29.0.1), php4, pflogsumm, libtemplate-perl,
 squirrelmail, libapache-mod-auth-pam, adduser (>= 3.34), courier-base,
 munin,
 osf-utils,
 osf-base,
 osf-doc,
 ${shlibs:Depends}, ${misc:Depends}
Description: web frontend for Open Security Filter
 This package contains the web frontend for the Open Security Filter.
